<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Todo App CRUD</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Todo List</h1>
        <div class="input-group">
            <input type="text" id="todoTitle" placeholder="新しいTodo...">
            <button class="btn-add" onclick="addTodo()">追加</button>
        </div>
        <div id="todo-list">
			<div th:each="todo : ${todos}" class="todo-item">
				    <div class="todo-left">
				        <a th:href="@{/toggle/{id}(id=${todo.id})}" 
				           th:text="${todo.title}" 
				           th:classappend="${todo.completed} ? 'completed' : ''"></a>
				    </div>
		</div>
		
    </div>
	
	
	    
	    
		
	</div>
	
    <script src="/js/app.js"></script>
</body>
</html>